body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #3a0ca3;
  font-family: 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.app {
  text-align: center;
}

h1 {
  margin-bottom: 2rem;
}

.inputs {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

input {
  padding: 1rem;
  font-size: 2rem;
  width: 100px;
  border: none;
  border-radius: 10px;
  background-color: #bdb2ff;
  color: #240046;
  text-align: center;
}

.select {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  margin-bottom: 1.5rem;
}

button {
  background-color: #7209b7;
  padding: 1rem 2rem;
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 4rem;
  margin-top: 1rem;
  color: #ffffff;
}
